.frame {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .div {
    background-color: #ffffff;
    border: 1px none;
    height: 10589px;
    position: relative;
    width: 1920px;
  }
  .frame .navbar {
    height: 90px;
    left: 0;
    position: absolute;
    top: 19px;
    width: 1270px;
  }
  
  .frame .rectangle {
    height: 90px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 284px;
  }

  .frame .text-wrapper {
    color: #1e1e1e;
    font-family: "Inter-Medium", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 261px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 14px;
    width: 271px;
  }
  
  .frame .text-wrapper-2 {
    color: #1e1e1e;
    font-family: "Inter-Medium", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 508px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 14px;
    width: 271px;
  }
  
  .frame .text-wrapper-3 {
    color: #1e1e1e;
    font-family: "Inter-Medium", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 757px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 14px;
    width: 271px;
  }
  
  .frame .text-wrapper-4 {
    color: #1e1e1e;
    font-family: "Inter-Medium", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 999px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 14px;
    width: 271px;
  }

  
.frame .overlap {
    height: 369px;
    left: 351px;
    position: absolute;
    top: 2880px;
    width: 1221px;
  }
  
  .frame .img {
    height: 162px;
    left: 175px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 867px;
  }
  
  .frame .p {
    color: #404040;
    font-family: "Inter-Bold", Helvetica;
    font-size: 96px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 127px;
    width: 1221px;
  }
  
  .frame .stay-connected-be {
    color: #404040;
    font-family: "Inter-Bold", Helvetica;
    font-size: 96px;
    font-weight: 700;
    left: 546px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 306px;
    width: 829px;
  }
  
  .frame .text-wrapper-5 {
    color: #404040;
    font-family: "Inter-Bold", Helvetica;
    font-size: 96px;
    font-weight: 700;
    left: 351px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 4613px;
    width: 1221px;
  }
  
  .frame .rectangle-2 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 271px;
    left: 207px;
    position: absolute;
    top: 612px;
    width: 271px;
  }
  
  .frame .rectangle-3 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 271px;
    left: 516px;
    position: absolute;
    top: 612px;
    width: 271px;
  }
  
  .frame .rectangle-4 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 271px;
    left: 825px;
    position: absolute;
    top: 612px;
    width: 271px;
  }
  
  .frame .rectangle-5 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 271px;
    left: 1134px;
    position: absolute;
    top: 612px;
    width: 271px;
  }
  
  .frame .rectangle-6 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 271px;
    left: 1443px;
    position: absolute;
    top: 612px;
    width: 271px;
  }
  
  .frame .text-wrapper-6 {
    color: #1e1e1e;
    font-family: "Inter-Medium", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 207px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 906px;
    width: 271px;
  }
  
  .frame .text-wrapper-7 {
    color: #1e1e1e;
    font-family: "Inter-Medium", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 516px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 906px;
    width: 271px;
  }
  
  .frame .text-wrapper-8 {
    color: #1e1e1e;
    font-family: "Inter-Medium", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 825px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 906px;
    width: 271px;
  }
  
  .frame .text-wrapper-9 {
    color: #1e1e1e;
    font-family: "Inter-Medium", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 1134px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 906px;
    width: 271px;
  }
  
  .frame .text-wrapper-10 {
    color: #1e1e1e;
    font-family: "Inter-Medium", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 1443px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 906px;
    width: 271px;
  }
  
.frame .rectangle-7 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 271px;
    left: 207px;
    position: absolute;
    top: 6342px;
    width: 271px;
  }
  
  .frame .rectangle-8 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 271px;
    left: 516px;
    position: absolute;
    top: 6342px;
    width: 271px;
  }
  
  .frame .rectangle-9 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 271px;
    left: 825px;
    position: absolute;
    top: 6342px;
    width: 271px;
  }
  
  .frame .rectangle-10 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 271px;
    left: 1134px;
    position: absolute;
    top: 6342px;
    width: 271px;
  }
  
  .frame .rectangle-11 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 271px;
    left: 1443px;
    position: absolute;
    top: 6342px;
    width: 271px;
  }
  
  .frame .text-wrapper-11 {
    color: #1e1e1e;
    font-family: "Inter-Medium", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 207px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 6636px;
    width: 271px;
  }
  
  .frame .text-wrapper-12 {
    color: #1e1e1e;
    font-family: "Inter-Medium", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 516px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 6636px;
    width: 271px;
  }
  
  .frame .text-wrapper-13 {
    color: #1e1e1e;
    font-family: "Inter-Medium", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 825px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 6636px;
    width: 271px;
  }
  
  .frame .text-wrapper-14 {
    color: #1e1e1e;
    font-family: "Inter-Medium", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 1134px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 6636px;
    width: 271px;
  }
  
  .frame .text-wrapper-15 {
    color: #1e1e1e;
    font-family: "Inter-Medium", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 1443px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 6636px;
    width: 271px;
  }
  
  .frame .rectangle-12 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 271px;
    left: 207px;
    position: absolute;
    top: 1025px;
    width: 271px;
  }
  
  .frame .rectangle-13 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 1032px;
    left: 825px;
    position: absolute;
    top: 1650px;
    width: 889px;
  }
  
  .frame .rectangle-14 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 1032px;
    left: 207px;
    position: absolute;
    top: 3371px;
    width: 758px;
  }
  
  .frame .rectangle-15 {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 819px;
    left: 956px;
    position: absolute;
    top: 7205px;
    width: 758px;
  }